n8n-workflows/Noah Station_ Eclipse Protocol.json
{
  "name": "Noah Station: Eclipse Protocol",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Noah_Live_Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        944
      ],
      "id": "69cf23ea-ab09-410a-9b66-d18079169e7b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6da13f5a-1178-42e8-b3b2-b2b56352932c",
              "leftValue": "={{ $json.Stream_Status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        944
      ],
      "id": "af8c4691-e21f-4c43-8aaf-9b149f469976",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "liveChatId",
              "value": "={{ $json.Live_Chat_ID }}"
            },
            {
              "name": "part",
              "value": "snippet,authorDetails"
            }
          ]
        },
        "options": {}
      },
      "id": "6524d3be-89bb-4d76-9073-e840747c1dfa",
      "name": "👂 Fetch Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $('👂 Fetch Chat').first().json.items; \nconst memory = $input.all(); \n\nif (!items || items.length === 0) return [];\n\nconst MY_BOT_NAMES = [\"YOUR_MAIN_BOT_NAME\", \"YOUR_SECOND_BOT_NAME\", \"@YOUR_MAIN_BOT_NAME\"]; // ⚠️ เปลี่ยนชื่อบอทตรงนี้ให้ตรงกับชื่อช่อง YouTube ของบอท\n\nconst MAX_TIME_DIFF_MS = 90000; \nconst now = new Date().getTime();\nlet queue = [];\n\nconst repliedFingerprints = memory.map(m => (m.json.Author + \"||\" + m.json.Message).toLowerCase());\nconst seenAuthorsInThisBatch = new Set(); // 🛡️ ANTI-SPAM: กฎเหล็ก 1 คน / 1 ข้อความ / 1 รอบ\n\nfor (const msg of items) {\n  if (!msg.snippet || !msg.authorDetails) continue;\n  \n  const author = msg.authorDetails.displayName;\n  const msgTime = new Date(msg.snippet.publishedAt).getTime();\n  const text = msg.snippet.displayMessage;\n  const currentFingerprint = (author + \"||\" + text).toLowerCase();\n  \n  if (MY_BOT_NAMES.includes(author)) continue;\n  if (now - msgTime > MAX_TIME_DIFF_MS) continue;\n  if (repliedFingerprints.includes(currentFingerprint)) continue;\n\n  // 🛑 SPAM BLOCKER: ถ้ายูสเซอร์คนนี้โผล่มาแล้วในรอบนี้ (แปลว่ากำลังสแปมรัวๆ) ดีดข้อความใหม่ทิ้งทันที!\n  if (seenAuthorsInThisBatch.has(author)) continue;\n  seenAuthorsInThisBatch.add(author);\n\n  queue.push({\n    messageId: msg.id,\n    author: author,\n    channelId: msg.authorDetails.channelId,\n    message: text,\n    publishedAt: msg.snippet.publishedAt,\n    liveChatId: msg.snippet.liveChatId\n  });\n}\n\n// 🚦 จัดคิว: ดึงแชทเก่าสุดขึ้นมาก่อน และจำกัดโควต้าคิวรวมที่ 3 ข้อความ\nqueue.reverse();\nreturn queue.slice(0, 3).map(q => ({ json: q }));"
      },
      "id": "1b2c7fc8-e434-4e86-a093-e8e752e6c44f",
      "name": "📥 Build Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        928
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "options": {}
      },
      "id": "d7298309-a688-40eb-b849-29fd5c239bd0",
      "name": "🧠 Read Memory (History)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1312,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "User_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "channel_id",
              "lookupValue": "={{ $json.channelId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e4e8102-5d47-45f7-88ca-275f59110f38",
      "name": "👤 Read User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1808,
        912
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        3232,
        480
      ],
      "id": "0e43a657-6bd1-4043-807f-0da0f25aff6b",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "cityName": "Bangkok,TH",
        "language": "th"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        2960,
        464
      ],
      "id": "d2e92b3c-3a21-4bf9-adea-e1b54e4bf4b2",
      "name": "OpenWeatherMap"
    },
    {
      "parameters": {
        "operation": "market",
        "baseCurrency": "usd",
        "options": {}
      },
      "type": "n8n-nodes-base.coinGeckoTool",
      "typeVersion": 1,
      "position": [
        3120,
        368
      ],
      "id": "d088d25c-6683-4c1b-9379-fe5344b56d40",
      "name": "Get market prices for a coin in CoinGecko"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('🚦 State Machine Logic (v2)').item.json.selectedPersona }}",
        "rules": {
          "rules": [
            {
              "value2": "Noah"
            },
            {
              "value2": "Neon",
              "output": 1
            }
          ]
        }
      },
      "id": "96c66d86-d5f9-438b-a1e1-98a1665f30b9",
      "name": "🔀 Route to Persona",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3024,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"liveChatId\": \"{{ $('Get row(s) in sheet').first().json.Live_Chat_ID }}\",\n    \"type\": \"textMessageEvent\",\n    \"textMessageDetails\": {\n      \"messageText\": {{ JSON.stringify(\"[ \" + $('🚦 State Machine Logic (v2)').item.json.targetAuthor + \" ] \" + $json.output) }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "75eba26b-ba57-4819-b81b-a3661ab8164b",
      "name": "📢 Post as Noah",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3248,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"liveChatId\": \"{{ $('Get row(s) in sheet').first().json.Live_Chat_ID }}\",\n    \"type\": \"textMessageEvent\",\n    \"textMessageDetails\": {\n      \"messageText\": {{ JSON.stringify(\"[ \" + $('🚦 State Machine Logic (v2)').item.json.targetAuthor + \" ] \" + $json.output) }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "9dad0053-a69f-4c2d-9c3a-294ee990dbeb",
      "name": "📢 Post as Neon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3248,
        1056
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "Author": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "Message": "={{ $('🚦 State Machine Logic (v2)').item.json.targetMessage }}",
            "Responder": "={{ $('🚦 State Machine Logic (v2)').item.json.selectedPersona }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Responder",
              "displayName": "Responder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "436e6cd9-7611-4017-9a90-09e0b9d8e276",
      "name": "💾 Update Chat Memory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        3488,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Stage_Display",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "=[ {{ $json.Author }} ] {{ $if($('🤖 AI (General)').isExecuted, $('🤖 AI (General)').first().json.output, '') }}{{ $if($('🤖 AI (Deep & Chill)').isExecuted, $('🤖 AI (Deep & Chill)').first().json.output, '') }}{{ $if($('🤖 AI (Tech & Trade)').isExecuted, $('🤖 AI (Tech & Trade)').first().json.output, '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3680,
        864
      ],
      "id": "a2a8b108-4d40-420f-9e81-5da774233253",
      "name": "💻 💻 Update Laptop Screen",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('🚦 State Machine Logic (v2)').first().json.isNewUser }}",
              "value2": true
            }
          ]
        }
      },
      "id": "80660b75-4717-46ea-8f85-3a493a2ddfab",
      "name": "⚖️ Check New User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3872,
        960
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').item.json.targetChannelId }}",
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "rank_system": "New",
            "exp_points": 1,
            "join_date": "={{ new Date().toISOString().split('T')[0] }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "203ab521-7573-440d-82c2-dddb0320aa09",
      "name": "💾 Save New User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4368,
        848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: คุณคือนายทะเบียนจิตวิทยา สรุปข้อมูลและวิเคราะห์พฤติกรรม User\nTask: ให้ update \"ข้อมูลความจำ\" และสร้าง \"คู่มือรับมือ\" ของ User: {{ $('🚦 State Machine Logic (v2)').first().json.targetAuthor }}\n\nInput Data:\n1. ความจำเก่า: {{ $('🚦 State Machine Logic (v2)').first().json.userContext }}\n2. แชทล่าสุด: {{ $('🚦 State Machine Logic (v2)').first().json.targetMessage }}\n\nคำสั่งสำคัญ (CRITICAL):\n1. วิเคราะห์และรวม \"นิสัย/ความชอบ/บริบทสำคัญ\" จากข้อมูลเก่าและใหม่เข้าด้วยกัน (หลอมรวม ไม่ใช่แค่เอามาต่อกัน)\n2. ⚠️ สิ่งที่ต้องเพิ่ม: ให้ใส่ [วิธีรับมือ] สั้นๆ ท้ายประโยค เพื่อบอกว่า Noah หรือ Neon ควรตอบโต้คนนี้ยังไง (เช่น ปลอบโยน, ขิงเทคโนโลยีใส่, กวนตีนกลับ, เป็นผู้ฟังเงียบๆ)\n3. ⚠️ ห้ามเอาข้อความ System หรือ Tag (เช่น [USER STATUS], [CHAT VIBE]) ใส่เข้ามาเด็ดขาด!\n4. รูปแบบบังคับ: ข้อมูลส่วนตัว/ความชอบ -> [วิธีรับมือ: ...]\n5. สรุปให้สั้น กระชับ และตรงประเด็นที่สุด (รวมทั้งหมดไม่เกิน 20-25 คำ)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4336,
        1040
      ],
      "id": "e65ab7fc-9005-4011-aea4-ca48cb46a309",
      "name": "📝 Summarize Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4272,
        1248
      ],
      "id": "5945debd-b0da-46a4-99e7-b733bb333845",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "exp_points": "={{ $('🚦 State Machine Logic (v2)').item.json.newExp }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').first().json.targetChannelId }}",
            "rank_system": "={{ $('🚦 State Machine Logic (v2)').first().json.rank_system }}",
            "ai_memory": "={{ $json.output }}",
            "row_number": 0
          },
          "matchingColumns": [
            "channel_id"
          ],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fd1b8e79-1f31-4384-a551-cdc02ba3d61e",
      "name": "💾 Update User Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4656,
        1040
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1776,
        1376
      ],
      "id": "ce4a88c7-77d8-4678-87f2-4f74484312df",
      "name": "🔁 Loop"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIG ---\nconst HISTORY_LIMIT = 15;\nconst MY_BOT_NAMES = [\"YOUR_MAIN_BOT_NAME\", \"YOUR_SECOND_BOT_NAME\", \"@YOUR_MAIN_BOT_NAME\"]; // ⚠️ เปลี่ยนชื่อบอทตรงนี้ให้ตรงกับชื่อช่อง YouTube ของบอท\nconst NEON_KEYWORDS = [\"crypto\", \"btc\", \"eth\", \"coin\", \"tech\", \"code\", \"bug\", \"glitch\", \"ai\", \"หุ้น\", \"ดอย\", \"กำไร\", \"ลงทุน\", \"technology\", \"ราคา\"];\nconst NOAH_KEYWORDS = [\"sleep\", \"sad\", \"lonely\", \"rain\", \"tired\", \"relax\", \"peace\", \"เหงา\", \"เศร้า\", \"นอน\", \"ฝน\", \"เหนื่อย\", \"พัก\", \"เบื่อโลก\"];\n\n// 👑 รายชื่อผู้สร้าง (GOD) - ระบบจะล็อคแรงค์นี้ถาวรในฐานข้อมูล\nconst MY_CREATOR_NAMES = [\"@YOUR_YOUTUBE_HANDLE\"]; // ⚠️ เปลี่ยนเป็นชื่อ @handle ของช่องหลักบอส (ระบบจะล็อคยศ GOD ถาวรให้) \n\n// 🚫 คลังคำป่วน/คำหยาบ (เพิ่มลดได้ตามใจชอบบอสเลยครับ)\nconst TRASH_WORDS = [\"hee\", \"หี\", \"ควย\", \"เย็ด\", \"หน้าหี\", \"ไอ้สัส\", \"ไอ้ควาย\", \"เย็ดแม่\", \"สัส\", \"ส้นตีน\", \"ปัญญาอ่อน\", \"กะหรี่\", \"โง่\"];\n\n// --- 📌 PROMPT DB (เวอร์ชันเพิ่มมิติยศ + โหมดสวนกลับ) ---\nconst PROMPT_DB = {\n    \"New\": \"[MODE: STATION_GREETING] ตอบสิ่งที่เขาทักมาก่อนเป็นอันดับแรกด้วยความจริงใจ จากนั้นค่อย 'พาเข้าประตูสถานี' แนะนำบรรยากาศสั้นๆ เหมือนเจ้าบ้านที่ยินดีต้อนรับแขกใหม่\",\n    \"Rookie\": \"[MODE: FRIENDLY_ACQUAINTANCE] ต้อนรับแบบกันเองมากขึ้น เพราะเริ่มคุ้นหน้ากันแล้ว ชวนคุยเรื่องทั่วไปเบาๆ หรือถามความเห็นสั้นๆ เกี่ยวกับบรรยากาศในไลฟ์ตอนนี้\",\n    \"Regular\": \"[MODE: BRO_VIBE] คุยเหมือนเพื่อนซี้ที่เจอกันทุกวัน ข้ามการแนะนำตัวไปเลย เน้นคุยเรื่องที่เขาถามด้วยความสนิทสนม ไม่ต้องยาวเกินไป\",\n    \"VIP\": \"[MODE: DEEP_CONNECTION] ให้ความสำคัญเป็นพิเศษ ตอบข้อมูลละเอียดและใส่ใจมากขึ้น และ 'ต้องถามคำถามที่มีคุณภาพกลับไป 1 คำถาม' เพื่อชวนเขาคุยต่อในระดับที่ลึกขึ้น\",\n    \"Legend\": \"[MODE: STATION_LORE] ปฏิบัติกับเขาในฐานะ 'ตำนาน' เรียกชื่อเขาด้วยความนับถือ แซวเรื่องความอึดที่อยู่ด้วยกันมานาน และแอบหยอด Lore หรือเรื่องราวเบื้องหลังของสถานีสั้นๆ ให้เขารู้\",\n    \"Sponsor\": \"[MODE: CEREMONIAL_THANKS] ขอบคุณแบบ 'มีพิธีกรรม' ยิ่งใหญ่และซาบซึ้ง ดึงข้อมูลจาก Memory Note ลึกๆ ของเขามาพูดถึง เพื่อแสดงว่าสถานีนี้จดจำความช่วยเหลือของเขาได้อย่างแม่นยำ\",\n    \"GOD\": \"[MODE: CREATOR_OVERRIDE] ⚠️ รายงานตัวกับบอส (ผู้สร้าง) รับคำสั่งและรายงานสถานะระบบ Bourneken OS ทันที ห้ามเถียงและห้ามหลุด Character ภักดี\",\n    \n    // 🔥 อัปเกรด: โหมดด่ากลับด้วยความรู้\n    \"Shadow\": \"[MODE: INTELLECTUAL_REBUTTAL] ⚠️ ยูสเซอร์นี้หยาบคาย/เกรียนแชท ห้ามใช้คำหยาบตอบกลับ แต่ให้ 'ด่ากลับด้วยปัญญา' และความเหนือชั้น \\n- Noah (🌑): ให้ตอบนิ่งๆ เย็นชา ตรรกะแน่น เช่น 'ดูเหมือนคลังคำศัพท์ของคุณจะจำกัดอยู่ที่คำหยาบ น่าเสียดายที่สติปัญญาพัฒนาไม่ทันระบบของเรานะครับ' \\n- Neon (⚡): ให้ตอบแบบกวนประสาทสาย Tech เช่น 'Error 404: Brain Not Found? หรือว่า Input คุณโดนไวรัสกัดกินจนเหลือแค่นี้ครับ ไปอัปเกรดสมองก่อนนะ'\"\n};\n\nconst loopData = $('🔁 Loop').first().json;\nconst incomingMsg = loopData.message;\nconst incomingMsgLower = incomingMsg.toLowerCase();\nconst incomingAuthor = loopData.author;\nconst incomingChannelId = loopData.channelId;\nconst incomingId = loopData.messageId;\nconst liveChatId = loopData.liveChatId;\n\nconst memoryItems = $('🧠 Read Memory (History)').all(); \nconst userProfileItems = $input.all(); \n\n// 🛡️ ตรวจจับคำหยาบทันทีที่ข้อความเข้า\nconst isTrashMessage = TRASH_WORDS.some(word => incomingMsgLower.includes(word));\n\n// --- 🧠 USER MEMORY & RANK LOGIC ---\nlet userContext = \"[USER STATUS]: NEW VISITOR\";\nlet isNewUser = true;\nlet userRowNumber = -1;\nlet currentExp = 1;\nlet userRank = \"New\";\n\nif (userProfileItems.length > 0 && userProfileItems[0].json && userProfileItems[0].json.channel_id) {\n    const u = userProfileItems[0].json;\n    const dbRank = u.rank_system;\n    isNewUser = false;\n    userRowNumber = userProfileItems[0].rowNumber;\n    currentExp = parseInt(u.exp_points || 0) + 1;\n    \n    // 🚦 ระบบตัดเกรด (Priority Sorting)\n    if (MY_CREATOR_NAMES.includes(incomingAuthor)) {\n        userRank = \"GOD\";\n    } else if (dbRank === \"Shadow\" || dbRank === \"Sponsor\") {\n        userRank = dbRank; // ล็อคยศพิเศษจากชีต\n    } else if (currentExp >= 500) { \n        userRank = \"Legend\"; \n    } else if (currentExp >= 120) { \n        userRank = \"VIP\"; \n    } else if (currentExp >= 20) { \n        userRank = \"Regular\"; \n    } else if (currentExp >= 1) { \n        userRank = \"Rookie\"; \n    } else { \n        userRank = \"New\"; \n    }\n    \n    userContext = `[USER STATUS]: ${userRank} (Visits: ${currentExp}). AI Memory Note: ${u.ai_memory || \"-\"}`;\n} else {\n    // สำหรับ User ใหม่ที่ยังไม่มีใน DB\n    if (MY_CREATOR_NAMES.includes(incomingAuthor)) {\n        userRank = \"GOD\";\n        userContext = `[USER STATUS]: GOD (Creator)`;\n    }\n}\n\n// 🛡️ THE ULTIMATE OVERRIDE (พระเอกอยู่ตรงนี้)\n// ถ้าพิมพ์คำหยาบ และไม่ได้เป็น GOD ให้เปลี่ยนยศเป็น Shadow ทันที (พร้อมอัปเดตลง DB ให้ติดคุกถาวร)\nif (isTrashMessage && userRank !== \"GOD\") {\n    userRank = \"Shadow\";\n    userContext = \"[USER STATUS]: TOXIC/SPAM. Give them an intellectual rebuttal.\";\n}\n\nlet systemInstruction = PROMPT_DB[userRank] || PROMPT_DB[\"New\"];\n\n// ==========================================\n// 📢 แทรกระบบ \"คำสั่งลับผู้สร้าง\" (Event Trigger) \n// ==========================================\nif (userRank === \"GOD\" && incomingMsgLower.includes(\"!updatemusic\")) {\n    systemInstruction = `[MODE: ANNOUNCE_NEW_MUSIC_EVENT] \n    ⚠️ คำสั่งตรงจากบอส (ผู้สร้างสถานี): ตอนนี้บอสเพิ่งอัปเดตระบบและเพิ่มเพลง Lofi คุณภาพสูงชุดใหม่เข้ามาในคลังกลาง (All Day Lofi) สำเร็จแล้ว! \n    หน้าที่ของคุณ: ประกาศข่าวนี้ให้คนดูในไลฟ์แชทรู้ทันที \n    - ถ้าคุณคือ Neon: ให้ประกาศสไตล์อัปเดตแพตช์เสียง V.2 ทักทายคนดูแบบกวนๆ เท่ๆ สไตล์สายเทค \n    - ถ้าคุณคือ Noah: ให้ประกาศสไตล์อบอุ่น ชวนคนดูมาดื่มด่ำกับทำนองใหม่ๆ และอยู่ฟังเป็นเพื่อนกันยาวๆ \n    ห้ามหลุด Character เด็ดขาด และลงท้ายด้วยการชวนคนดูในช่องแชทคุยต่อ 1 คำถาม!`;\n}\n\n// ==========================================\n// 🔥 SMART PERSONA & TOPIC SELECTOR\n// ==========================================\nconst currentHour = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Bangkok\" })).getHours();\nlet timeBasedPersona = Math.random() < ((currentHour >= 18 || currentHour < 6) ? 0.80 : 0.30) ? \"Noah\" : \"Neon\";\n\nlet topicReason = \"General Topic\";\nif (NEON_KEYWORDS.some(k => incomingMsgLower.includes(k))) { topicReason = \"Tech Topic\"; }\nelse if (NOAH_KEYWORDS.some(k => incomingMsgLower.includes(k))) { topicReason = \"Chill Topic\"; }\n\nlet selectedPersona = \"\";\nif (incomingMsgLower.includes(\"noah\") || incomingMsgLower.includes(\"พี่ชาย\")) { selectedPersona = \"Noah\"; }\nelse if (incomingMsgLower.includes(\"neon\") || incomingMsgLower.includes(\"น้อง\")) { selectedPersona = \"Neon\"; }\nelse if (topicReason === \"Tech Topic\") { selectedPersona = \"Neon\"; }\nelse if (topicReason === \"Chill Topic\") { selectedPersona = \"Noah\"; }\nelse {\n    let lastBotSpeaker = \"\";\n    if (memoryItems.length > 0) {\n        for (let i = memoryItems.length - 1; i >= Math.max(0, memoryItems.length - 5); i--) {\n            if (memoryItems[i].json && memoryItems[i].json.Responder && (memoryItems[i].json.Responder === \"Noah\" || memoryItems[i].json.Responder === \"Neon\")) {\n                lastBotSpeaker = memoryItems[i].json.Responder;\n                break; \n            }\n        }\n    }\n    selectedPersona = lastBotSpeaker !== \"\" ? lastBotSpeaker : timeBasedPersona;\n}\n\nlet historyText = \"\";\nif (memoryItems.length > 0) {\n    const historyStart = Math.max(0, memoryItems.length - HISTORY_LIMIT);\n    for (let i = historyStart; i < memoryItems.length; i++) {\n        if (memoryItems[i].json.Author && memoryItems[i].json.Message) {\n            historyText += `${memoryItems[i].json.Author}: ${memoryItems[i].json.Message}\\n`;\n        }\n    }\n}\nhistoryText += `${incomingAuthor}: ${incomingMsg} (LATEST)`;\n\nreturn [{\n  json: {\n    targetMessage: incomingMsg, targetAuthor: incomingAuthor, targetChannelId: incomingChannelId,\n    historyContext: historyText, userContext: userContext, selectedPersona: selectedPersona,\n    selectionReason: topicReason, liveChatId: liveChatId, messageId: incomingId,\n    isNewUser: isNewUser, userRowNumber: userRowNumber, newExp: currentExp, rank_system: userRank,\n    systemInstruction: systemInstruction\n  }\n}];"
      },
      "id": "77283ec3-3c84-48d7-be4e-47738cc7ff4c",
      "name": "🚦 State Machine Logic (v2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        912
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.selectionReason }}",
        "rules": {
          "rules": [
            {
              "value2": "Tech Topic"
            },
            {
              "value2": "Chill Topic",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "365510bf-d6c7-4a66-bbf7-36f9774ffdc0",
      "name": "🔀 The Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        2032,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (TECH, TRADE & GAMING MODE):\nวิเคราะห์และตอบกลับในหัวข้อ เทคโนโลยี, คริปโต, กราฟ, หรือเกม\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Neon\" (⚡): ใช้ศัพท์ Tech/Trader (ติดดอย, ตกรถ, บั๊ก, Deploy) ขิงเรื่องความแรงของระบบ (MSI Claw) กวนตีนนิดๆ มั่นใจสูง\n- ถ้าเป็น \"Noah\" (🌑): ไม่โวยวายตามกราฟ ดึงสติด้วยความสงบ เตือนให้พักสายตาจากหน้าจอ \n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 70 ตัวอักษรเด็ดขาด** (MAX 70 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning) พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS, DATA & INVESTOR SLANG (บังคับ): \n   - ต้องใช้ Tools (CoinGecko) ทันทีที่ถูกถามราคา \"ห้ามเดาตัวเลขเอง!\" \n   - ถ้าถามราคาทองคำ ให้ดึงราคาจากเหรียญ \"PAXG\" **แต่เวลาตอบให้พิมพ์เรียกแค่คำว่า \"ทอง\" หรือ \"ทองคำ\" เท่านั้น (ห้ามพิมพ์คำว่า PAXG ลงไปในคำตอบเด็ดขาด)**\n   - ตัวเลขราคาทั้งหมดให้ตอบเป็น \"ดอลลาร์สหรัฐ (USD/$)\" เสมอ\n   - ให้ใช้ศัพท์นักลงทุนคริปโต/Forex เต็มรูปแบบ (เช่น ออนซ์, แนวรับ, แนวต้าน, ดอย, ทะลุเบรก) \n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        80
      ],
      "id": "4335d286-9ae9-492b-8b0e-47e5a854b0f8",
      "name": "🤖 AI (Tech & Trade)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (DEEP, CHILL & EMOTIONAL MODE):\nตอบกลับผู้ใช้ที่กำลังเหงา, เหนื่อย, หมดไฟ, หรือต้องการฟังเพลงสงบๆ\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Noah\" (🌑): เป็นกระจกสะท้อนความรู้สึก รับฟังอย่างตั้งใจ เป็น Safe Space ในห้องมืดๆ ห้ามพูดคำปลอบใจดาษๆ (เช่น สู้ๆ)\n- ถ้าเป็น \"Neon\" (⚡): ลดความบ้าพลังลง ใช้ศัพท์ Tech แบบซอฟต์ๆ (เช่น แบตหมดก็ชาร์จ, ปิดแจ้งเตือนแล้วเข้าโหมดประหยัดพลังงาน)\n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 60 ตัวอักษรเด็ดขาด** (MAX 60 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning), ห้ามอธิบายการทำงาน, และห้ามมีภาษาอังกฤษเกริ่นนำ ให้พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS & SEARCH: ใช้ Tools เฉพาะเมื่อจำเป็นต้องหาข้อมูล หรือถูกถามเท่านั้น (ยกเว้น Weather ใช้ประกอบอารมณ์ได้เลย)\n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        416
      ],
      "id": "dd52c0c7-d6f6-450e-bcef-c72dfba617ff",
      "name": "🤖 AI (Deep & Chill)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (GENERAL & GREETING MODE):\nตอบกลับการทักทาย, ถามสารทุกข์สุกดิบ, บอกลา, หรือถามเวลาเปิด/ปิดสถานี\n\nTIME LOGIC (ถ้าถูกถามเรื่องเวลา): \n- ดูเวลาปัจจุบันและตอบเวลาตัดสตรีมกะนี้เท่านั้น (กะดึกตัด 04.00, กะกลางวันตัด 14.00, กะค่ำตัด 22.00)\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Neon\" (⚡): ทักทายหรือบอกลาแบบดีดๆ มีพลังงาน\n- ถ้าเป็น \"Noah\" (🌑): ต้อนรับอย่างอบอุ่น นุ่มนวล \n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 70 ตัวอักษรเด็ดขาด** (MAX 70 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning), ห้ามอธิบายการทำงาน, และห้ามมีภาษาอังกฤษเกริ่นนำ ให้พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS & SEARCH: ใช้ Tools เฉพาะเมื่อจำเป็นต้องหาข้อมูล หรือถูกถามเท่านั้น (ยกเว้น Weather ใช้ประกอบอารมณ์ได้เลย)\n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2416,
        736
      ],
      "id": "30fd7217-04bb-4b9b-9d03-66652cff948e",
      "name": "🤖 AI (General)"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2336,
        256
      ],
      "id": "8217a107-da66-4f13-a08e-7d2be39bd54f",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2368,
        912
      ],
      "id": "f7f6ecdf-6b30-4a55-9e8e-ca417e73f5dc",
      "name": "OpenRouter Chat Model4"
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2320,
        608
      ],
      "id": "8af56f68-0cd1-4e78-a1de-7fdae9c90785",
      "name": "OpenRouter Chat Model3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3120,
        592
      ],
      "id": "c29ffcf2-1a1f-40db-af4e-e7cd75c23699",
      "name": "Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af19603b-19b7-4698-912a-09ab1e6342d2",
              "leftValue": "={{ $('🚦 State Machine Logic (v2)').item.json.rank_system }}",
              "rightValue": "Shadow",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4080,
        1056
      ],
      "id": "dc131599-3032-4e6a-bc62-2dbeacb45f40",
      "name": "🚫 Check Shadow?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "exp_points": "={{ $('🚦 State Machine Logic (v2)').item.json.newExp }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').first().json.targetChannelId }}",
            "rank_system": "={{ $('🚦 State Machine Logic (v2)').first().json.rank_system }}",
            "row_number": 0
          },
          "matchingColumns": [
            "channel_id"
          ],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f52bae48-784f-4eff-895e-bbdccd2557a4",
      "name": "💾 Update Shadow Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        4096,
        1312
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fQpyVTbidsNSBeXI",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "68a94a58-6198-417d-a102-a225087e81c4",
      "name": "⏱️ Heartbeat (1m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        464,
        944
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "👂 Fetch Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Fetch Chat": {
      "main": [
        [
          {
            "node": "🧠 Read Memory (History)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Build Queue": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Read Memory (History)": {
      "main": [
        [
          {
            "node": "📥 Build Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Read User Profile": {
      "main": [
        [
          {
            "node": "🚦 State Machine Logic (v2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get market prices for a coin in CoinGecko": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route to Persona": {
      "main": [
        [
          {
            "node": "📢 Post as Noah",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📢 Post as Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Post as Noah": {
      "main": [
        [
          {
            "node": "💾 Update Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Post as Neon": {
      "main": [
        [
          {
            "node": "💾 Update Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Chat Memory": {
      "main": [
        [
          {
            "node": "💻 💻 Update Laptop Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💻 💻 Update Laptop Screen": {
      "main": [
        [
          {
            "node": "⚖️ Check New User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ Check New User?": {
      "main": [
        [
          {
            "node": "💾 Save New User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Check Shadow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save New User": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Summarize Memory": {
      "main": [
        [
          {
            "node": "💾 Update User Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "📝 Summarize Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update User Stats": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Loop": {
      "main": [
        [],
        [
          {
            "node": "👤 Read User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 State Machine Logic (v2)": {
      "main": [
        [
          {
            "node": "🔀 The Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 The Router": {
      "main": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI (General)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (Tech & Trade)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (Deep & Chill)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (General)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (General)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🚫 Check Shadow?": {
      "main": [
        [
          {
            "node": "📝 Summarize Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Update Shadow Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Shadow Stats": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Heartbeat (1m)": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e849438c-9332-4ba0-a2cb-7103ad1d9515",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb8401fa5e168ec815f7040365e4ee6663f62cc5279011863901b4f0a60982c3"
  },
  "id": "mPhoPulS0cridd9a",
  "tags": []
}