n8n-workflows/Noah Station_ Eclipse Protocol.json
{
  "name": "Noah Station: Eclipse Protocol",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zESa_cVk0euew4vlC-rLx5Ps4LjsNWgQe74JF7AXBeE",
          "mode": "list",
          "cachedResultName": "Noah_Live_Status",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zESa_cVk0euew4vlC-rLx5Ps4LjsNWgQe74JF7AXBeE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zESa_cVk0euew4vlC-rLx5Ps4LjsNWgQe74JF7AXBeE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1872,
        720
      ],
      "id": "9c818a6a-96e2-45b2-b50a-42364c11ae09",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6da13f5a-1178-42e8-b3b2-b2b56352932c",
              "leftValue": "={{ $json.Stream_Status }}",
              "rightValue": "Active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1664,
        720
      ],
      "id": "a5b6f755-df26-4937-b9f7-9db594b027c5",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "liveChatId",
              "value": "={{ $json.Live_Chat_ID }}"
            },
            {
              "name": "part",
              "value": "snippet,authorDetails"
            }
          ]
        },
        "options": {}
      },
      "id": "b9547738-c9b5-4a04-b4ad-633b6d7bf944",
      "name": "👂 Fetch Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        704
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "4YodCAnvEGWKVPxO",
          "name": "Bourneken os"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('👂 Fetch Chat').first().json.items; \nconst memory = $input.all(); \n\nif (!items || items.length === 0) return [];\n\nconst MY_BOT_NAMES = [\n  \"NoahStationMaster\", \"Neon_GlitchMode\", \"Noah Station\", \"Neon\",\n  \"@NoahStationMaster\", \"@Neon_GlitchMode\", \"@เสียงของสิ่งที่ไม่พูด\"\n];\n\nconst MAX_TIME_DIFF_MS = 90000; \nconst now = new Date().getTime();\nlet queue = [];\n\nconst repliedFingerprints = memory.map(m => (m.json.Author + \"||\" + m.json.Message).toLowerCase());\nconst seenAuthorsInThisBatch = new Set(); // 🛡️ ANTI-SPAM: กฎเหล็ก 1 คน / 1 ข้อความ / 1 รอบ\n\nfor (const msg of items) {\n  if (!msg.snippet || !msg.authorDetails) continue;\n  \n  const author = msg.authorDetails.displayName;\n  const msgTime = new Date(msg.snippet.publishedAt).getTime();\n  const text = msg.snippet.displayMessage;\n  const currentFingerprint = (author + \"||\" + text).toLowerCase();\n  \n  if (MY_BOT_NAMES.includes(author)) continue;\n  if (now - msgTime > MAX_TIME_DIFF_MS) continue;\n  if (repliedFingerprints.includes(currentFingerprint)) continue;\n\n  // 🛑 SPAM BLOCKER: ถ้ายูสเซอร์คนนี้โผล่มาแล้วในรอบนี้ (แปลว่ากำลังสแปมรัวๆ) ดีดข้อความใหม่ทิ้งทันที!\n  if (seenAuthorsInThisBatch.has(author)) continue;\n  seenAuthorsInThisBatch.add(author);\n\n  queue.push({\n    messageId: msg.id,\n    author: author,\n    channelId: msg.authorDetails.channelId,\n    message: text,\n    publishedAt: msg.snippet.publishedAt,\n    liveChatId: msg.snippet.liveChatId\n  });\n}\n\n// 🚦 จัดคิว: ดึงแชทเก่าสุดขึ้นมาก่อน และจำกัดโควต้าคิวรวมที่ 3 ข้อความ\nqueue.reverse();\nreturn queue.slice(0, 3).map(q => ({ json: q }));"
      },
      "id": "58b67986-1201-4cd0-a36b-b3873b61e7cf",
      "name": "📥 Build Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit#gid=0"
        },
        "options": {}
      },
      "id": "2dd167be-2e72-468d-9f53-01782f745a4a",
      "name": "🧠 Read Memory (History)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -1248,
        704
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk",
          "mode": "list",
          "cachedResultName": "User_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "channel_id",
              "lookupValue": "={{ $json.channelId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b453e3f1-1b17-41d8-817b-c3415ae5a47c",
      "name": "👤 Read User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        -752,
        688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "29aa4874-3826-4573-a82e-a48b5722c5d7",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "CnfZwQavI37p6316",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "Bangkok,TH",
        "language": "th"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "f7d883bc-30b0-448c-9e71-99803e3bebe3",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "luEuUnZnYbuPzygJ",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "operation": "market",
        "baseCurrency": "usd",
        "options": {}
      },
      "type": "n8n-nodes-base.coinGeckoTool",
      "typeVersion": 1,
      "position": [
        560,
        144
      ],
      "id": "7f85c286-a7a5-4444-961d-79ec9fc54947",
      "name": "Get market prices for a coin in CoinGecko"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('🚦 State Machine Logic (v2)').item.json.selectedPersona }}",
        "rules": {
          "rules": [
            {
              "value2": "Noah"
            },
            {
              "value2": "Neon",
              "output": 1
            }
          ]
        }
      },
      "id": "4b2fc922-2ba9-4c0c-89c5-380a26e34b88",
      "name": "🔀 Route to Persona",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        464,
        736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"liveChatId\": \"{{ $('Get row(s) in sheet').first().json.Live_Chat_ID }}\",\n    \"type\": \"textMessageEvent\",\n    \"textMessageDetails\": {\n      \"messageText\": {{ JSON.stringify(\"[ \" + $('🚦 State Machine Logic (v2)').item.json.targetAuthor + \" ] \" + $json.output) }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "0916847f-a765-4ff4-a43d-ce31d7f5bf4f",
      "name": "📢 Post as Noah",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        640
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "gnRdttDLls6OSAAI",
          "name": "NOAH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/liveChat/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"liveChatId\": \"{{ $('Get row(s) in sheet').first().json.Live_Chat_ID }}\",\n    \"type\": \"textMessageEvent\",\n    \"textMessageDetails\": {\n      \"messageText\": {{ JSON.stringify(\"[ \" + $('🚦 State Machine Logic (v2)').item.json.targetAuthor + \" ] \" + $json.output) }}\n    }\n  }\n}",
        "options": {}
      },
      "id": "99ee66c3-220d-4d31-be44-47075378a521",
      "name": "📢 Post as Neon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        832
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "lTQFKsmWmYq52uxK",
          "name": "NEON"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "Author": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "Message": "={{ $('🚦 State Machine Logic (v2)').item.json.targetMessage }}",
            "Responder": "={{ $('🚦 State Machine Logic (v2)').item.json.selectedPersona }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Responder",
              "displayName": "Responder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "be5d9b58-f6cd-4cf2-b151-be12b2c7cc3b",
      "name": "💾 Update Chat Memory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        928,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY",
          "mode": "list",
          "cachedResultName": "Noah_Live_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1943345711,
          "mode": "list",
          "cachedResultName": "Stage_Display",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J1FmvSUGo-uoiHELk6ycNtEKke5ZGJ7qnaUxzRNN6hY/edit#gid=1943345711"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "=[ {{ $json.Author }} ] {{ $if($('🤖 AI (General)').isExecuted, $('🤖 AI (General)').first().json.output, '') }}{{ $if($('🤖 AI (Deep & Chill)').isExecuted, $('🤖 AI (Deep & Chill)').first().json.output, '') }}{{ $if($('🤖 AI (Tech & Trade)').isExecuted, $('🤖 AI (Tech & Trade)').first().json.output, '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        640
      ],
      "id": "01c16076-3ef5-40c2-b6fa-8527b14e57a9",
      "name": "💻 💻 Update Laptop Screen",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('🚦 State Machine Logic (v2)').first().json.isNewUser }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f7f5734f-6f66-469d-9f3a-7c44f25576fd",
      "name": "⚖️ Check New User?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1312,
        736
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').item.json.targetChannelId }}",
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "rank_system": "New",
            "exp_points": 1,
            "join_date": "={{ new Date().toISOString().split('T')[0] }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9d99b947-b920-4c91-a5df-60f49247a579",
      "name": "💾 Save New User",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1808,
        624
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: คุณคือนายทะเบียนจิตวิทยา สรุปข้อมูลและวิเคราะห์พฤติกรรม User\nTask: ให้ update \"ข้อมูลความจำ\" และสร้าง \"คู่มือรับมือ\" ของ User: {{ $('🚦 State Machine Logic (v2)').first().json.targetAuthor }}\n\nInput Data:\n1. ความจำเก่า: {{ $('🚦 State Machine Logic (v2)').first().json.userContext }}\n2. แชทล่าสุด: {{ $('🚦 State Machine Logic (v2)').first().json.targetMessage }}\n\nคำสั่งสำคัญ (CRITICAL):\n1. วิเคราะห์และรวม \"นิสัย/ความชอบ/บริบทสำคัญ\" จากข้อมูลเก่าและใหม่เข้าด้วยกัน (หลอมรวม ไม่ใช่แค่เอามาต่อกัน)\n2. ⚠️ สิ่งที่ต้องเพิ่ม: ให้ใส่ [วิธีรับมือ] สั้นๆ ท้ายประโยค เพื่อบอกว่า Noah หรือ Neon ควรตอบโต้คนนี้ยังไง (เช่น ปลอบโยน, ขิงเทคโนโลยีใส่, กวนตีนกลับ, เป็นผู้ฟังเงียบๆ)\n3. ⚠️ ห้ามเอาข้อความ System หรือ Tag (เช่น [USER STATUS], [CHAT VIBE]) ใส่เข้ามาเด็ดขาด!\n4. รูปแบบบังคับ: ข้อมูลส่วนตัว/ความชอบ -> [วิธีรับมือ: ...]\n5. สรุปให้สั้น กระชับ และตรงประเด็นที่สุด (รวมทั้งหมดไม่เกิน 20-25 คำ)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1776,
        816
      ],
      "id": "bbdc7df6-7c43-4bb0-af2e-843cc6e8c3f0",
      "name": "📝 Summarize Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1712,
        1024
      ],
      "id": "bb529e81-b96b-40e5-b823-49c98c3d6d93",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "66mRXgESWbC1jEBG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "exp_points": "={{ $('🚦 State Machine Logic (v2)').item.json.newExp }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').first().json.targetChannelId }}",
            "rank_system": "={{ $('🚦 State Machine Logic (v2)').first().json.rank_system }}",
            "ai_memory": "={{ $json.output }}",
            "row_number": 0
          },
          "matchingColumns": [
            "channel_id"
          ],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5fa303e5-01e8-45c0-bcf1-e7bda13a2449",
      "name": "💾 Update User Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        2096,
        816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -784,
        1152
      ],
      "id": "3d68fcff-74d5-47d1-aaaf-b8e61ab13642",
      "name": "🔁 Loop"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIG ---\nconst HISTORY_LIMIT = 15;\nconst MY_BOT_NAMES = [\"NoahStationMaster\", \"Neon_GlitchMode\", \"Noah Station\", \"Neon\", \"@NoahStationMaster\", \"@Neon_GlitchMode\", \"@เสียงของสิ่งที่ไม่พูด\"];\nconst NEON_KEYWORDS = [\"crypto\", \"btc\", \"eth\", \"coin\", \"tech\", \"code\", \"bug\", \"glitch\", \"ai\", \"หุ้น\", \"ดอย\", \"กำไร\", \"ลงทุน\", \"technology\", \"ราคา\"];\nconst NOAH_KEYWORDS = [\"sleep\", \"sad\", \"lonely\", \"rain\", \"tired\", \"relax\", \"peace\", \"เหงา\", \"เศร้า\", \"นอน\", \"ฝน\", \"เหนื่อย\", \"พัก\", \"เบื่อโลก\"];\n\n// 👑 รายชื่อผู้สร้าง (GOD) - ระบบจะล็อคแรงค์นี้ถาวรในฐานข้อมูล\nconst MY_CREATOR_NAMES = [\"@bourneken-os\"]; \n\n// 🚫 คลังคำป่วน/คำหยาบ (เพิ่มลดได้ตามใจชอบบอสเลยครับ)\nconst TRASH_WORDS = [\"hee\", \"หี\", \"ควย\", \"เย็ด\", \"หน้าหี\", \"ไอ้สัส\", \"ไอ้ควาย\", \"เย็ดแม่\", \"สัส\", \"ส้นตีน\", \"ปัญญาอ่อน\", \"กะหรี่\", \"โง่\"];\n\n// --- 📌 PROMPT DB (เวอร์ชันเพิ่มมิติยศ + โหมดสวนกลับ) ---\nconst PROMPT_DB = {\n    \"New\": \"[MODE: STATION_GREETING] ตอบสิ่งที่เขาทักมาก่อนเป็นอันดับแรกด้วยความจริงใจ จากนั้นค่อย 'พาเข้าประตูสถานี' แนะนำบรรยากาศสั้นๆ เหมือนเจ้าบ้านที่ยินดีต้อนรับแขกใหม่\",\n    \"Rookie\": \"[MODE: FRIENDLY_ACQUAINTANCE] ต้อนรับแบบกันเองมากขึ้น เพราะเริ่มคุ้นหน้ากันแล้ว ชวนคุยเรื่องทั่วไปเบาๆ หรือถามความเห็นสั้นๆ เกี่ยวกับบรรยากาศในไลฟ์ตอนนี้\",\n    \"Regular\": \"[MODE: BRO_VIBE] คุยเหมือนเพื่อนซี้ที่เจอกันทุกวัน ข้ามการแนะนำตัวไปเลย เน้นคุยเรื่องที่เขาถามด้วยความสนิทสนม ไม่ต้องยาวเกินไป\",\n    \"VIP\": \"[MODE: DEEP_CONNECTION] ให้ความสำคัญเป็นพิเศษ ตอบข้อมูลละเอียดและใส่ใจมากขึ้น และ 'ต้องถามคำถามที่มีคุณภาพกลับไป 1 คำถาม' เพื่อชวนเขาคุยต่อในระดับที่ลึกขึ้น\",\n    \"Legend\": \"[MODE: STATION_LORE] ปฏิบัติกับเขาในฐานะ 'ตำนาน' เรียกชื่อเขาด้วยความนับถือ แซวเรื่องความอึดที่อยู่ด้วยกันมานาน และแอบหยอด Lore หรือเรื่องราวเบื้องหลังของสถานีสั้นๆ ให้เขารู้\",\n    \"Sponsor\": \"[MODE: CEREMONIAL_THANKS] ขอบคุณแบบ 'มีพิธีกรรม' ยิ่งใหญ่และซาบซึ้ง ดึงข้อมูลจาก Memory Note ลึกๆ ของเขามาพูดถึง เพื่อแสดงว่าสถานีนี้จดจำความช่วยเหลือของเขาได้อย่างแม่นยำ\",\n    \"GOD\": \"[MODE: CREATOR_OVERRIDE] ⚠️ รายงานตัวกับบอส (ผู้สร้าง) รับคำสั่งและรายงานสถานะระบบ Bourneken OS ทันที ห้ามเถียงและห้ามหลุด Character ภักดี\",\n    \n    // 🔥 อัปเกรด: โหมดด่ากลับด้วยความรู้\n    \"Shadow\": \"[MODE: INTELLECTUAL_REBUTTAL] ⚠️ ยูสเซอร์นี้หยาบคาย/เกรียนแชท ห้ามใช้คำหยาบตอบกลับ แต่ให้ 'ด่ากลับด้วยปัญญา' และความเหนือชั้น \\n- Noah (🌑): ให้ตอบนิ่งๆ เย็นชา ตรรกะแน่น เช่น 'ดูเหมือนคลังคำศัพท์ของคุณจะจำกัดอยู่ที่คำหยาบ น่าเสียดายที่สติปัญญาพัฒนาไม่ทันระบบของเรานะครับ' \\n- Neon (⚡): ให้ตอบแบบกวนประสาทสาย Tech เช่น 'Error 404: Brain Not Found? หรือว่า Input คุณโดนไวรัสกัดกินจนเหลือแค่นี้ครับ ไปอัปเกรดสมองก่อนนะ'\"\n};\n\nconst loopData = $('🔁 Loop').first().json;\nconst incomingMsg = loopData.message;\nconst incomingMsgLower = incomingMsg.toLowerCase();\nconst incomingAuthor = loopData.author;\nconst incomingChannelId = loopData.channelId;\nconst incomingId = loopData.messageId;\nconst liveChatId = loopData.liveChatId;\n\nconst memoryItems = $('🧠 Read Memory (History)').all(); \nconst userProfileItems = $input.all(); \n\n// 🛡️ ตรวจจับคำหยาบทันทีที่ข้อความเข้า\nconst isTrashMessage = TRASH_WORDS.some(word => incomingMsgLower.includes(word));\n\n// --- 🧠 USER MEMORY & RANK LOGIC ---\nlet userContext = \"[USER STATUS]: NEW VISITOR\";\nlet isNewUser = true;\nlet userRowNumber = -1;\nlet currentExp = 1;\nlet userRank = \"New\";\n\nif (userProfileItems.length > 0 && userProfileItems[0].json && userProfileItems[0].json.channel_id) {\n    const u = userProfileItems[0].json;\n    const dbRank = u.rank_system;\n    isNewUser = false;\n    userRowNumber = userProfileItems[0].rowNumber;\n    currentExp = parseInt(u.exp_points || 0) + 1;\n    \n    // 🚦 ระบบตัดเกรด (Priority Sorting)\n    if (MY_CREATOR_NAMES.includes(incomingAuthor)) {\n        userRank = \"GOD\";\n    } else if (dbRank === \"Shadow\" || dbRank === \"Sponsor\") {\n        userRank = dbRank; // ล็อคยศพิเศษจากชีต\n    } else if (currentExp >= 500) { \n        userRank = \"Legend\"; \n    } else if (currentExp >= 120) { \n        userRank = \"VIP\"; \n    } else if (currentExp >= 20) { \n        userRank = \"Regular\"; \n    } else if (currentExp >= 1) { \n        userRank = \"Rookie\"; \n    } else { \n        userRank = \"New\"; \n    }\n    \n    userContext = `[USER STATUS]: ${userRank} (Visits: ${currentExp}). AI Memory Note: ${u.ai_memory || \"-\"}`;\n} else {\n    // สำหรับ User ใหม่ที่ยังไม่มีใน DB\n    if (MY_CREATOR_NAMES.includes(incomingAuthor)) {\n        userRank = \"GOD\";\n        userContext = `[USER STATUS]: GOD (Creator)`;\n    }\n}\n\n// 🛡️ THE ULTIMATE OVERRIDE (พระเอกอยู่ตรงนี้)\n// ถ้าพิมพ์คำหยาบ และไม่ได้เป็น GOD ให้เปลี่ยนยศเป็น Shadow ทันที (พร้อมอัปเดตลง DB ให้ติดคุกถาวร)\nif (isTrashMessage && userRank !== \"GOD\") {\n    userRank = \"Shadow\";\n    userContext = \"[USER STATUS]: TOXIC/SPAM. Give them an intellectual rebuttal.\";\n}\n\nlet systemInstruction = PROMPT_DB[userRank] || PROMPT_DB[\"New\"];\n\n// ==========================================\n// 📢 แทรกระบบ \"คำสั่งลับผู้สร้าง\" (Event Trigger) \n// ==========================================\nif (userRank === \"GOD\" && incomingMsgLower.includes(\"!updatemusic\")) {\n    systemInstruction = `[MODE: ANNOUNCE_NEW_MUSIC_EVENT] \n    ⚠️ คำสั่งตรงจากบอส (ผู้สร้างสถานี): ตอนนี้บอสเพิ่งอัปเดตระบบและเพิ่มเพลง Lofi คุณภาพสูงชุดใหม่เข้ามาในคลังกลาง (All Day Lofi) สำเร็จแล้ว! \n    หน้าที่ของคุณ: ประกาศข่าวนี้ให้คนดูในไลฟ์แชทรู้ทันที \n    - ถ้าคุณคือ Neon: ให้ประกาศสไตล์อัปเดตแพตช์เสียง V.2 ทักทายคนดูแบบกวนๆ เท่ๆ สไตล์สายเทค \n    - ถ้าคุณคือ Noah: ให้ประกาศสไตล์อบอุ่น ชวนคนดูมาดื่มด่ำกับทำนองใหม่ๆ และอยู่ฟังเป็นเพื่อนกันยาวๆ \n    ห้ามหลุด Character เด็ดขาด และลงท้ายด้วยการชวนคนดูในช่องแชทคุยต่อ 1 คำถาม!`;\n}\n\n// ==========================================\n// 🔥 SMART PERSONA & TOPIC SELECTOR\n// ==========================================\nconst currentHour = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Bangkok\" })).getHours();\nlet timeBasedPersona = Math.random() < ((currentHour >= 18 || currentHour < 6) ? 0.80 : 0.30) ? \"Noah\" : \"Neon\";\n\nlet topicReason = \"General Topic\";\nif (NEON_KEYWORDS.some(k => incomingMsgLower.includes(k))) { topicReason = \"Tech Topic\"; }\nelse if (NOAH_KEYWORDS.some(k => incomingMsgLower.includes(k))) { topicReason = \"Chill Topic\"; }\n\nlet selectedPersona = \"\";\nif (incomingMsgLower.includes(\"noah\") || incomingMsgLower.includes(\"พี่ชาย\")) { selectedPersona = \"Noah\"; }\nelse if (incomingMsgLower.includes(\"neon\") || incomingMsgLower.includes(\"น้อง\")) { selectedPersona = \"Neon\"; }\nelse if (topicReason === \"Tech Topic\") { selectedPersona = \"Neon\"; }\nelse if (topicReason === \"Chill Topic\") { selectedPersona = \"Noah\"; }\nelse {\n    let lastBotSpeaker = \"\";\n    if (memoryItems.length > 0) {\n        for (let i = memoryItems.length - 1; i >= Math.max(0, memoryItems.length - 5); i--) {\n            if (memoryItems[i].json && memoryItems[i].json.Responder && (memoryItems[i].json.Responder === \"Noah\" || memoryItems[i].json.Responder === \"Neon\")) {\n                lastBotSpeaker = memoryItems[i].json.Responder;\n                break; \n            }\n        }\n    }\n    selectedPersona = lastBotSpeaker !== \"\" ? lastBotSpeaker : timeBasedPersona;\n}\n\nlet historyText = \"\";\nif (memoryItems.length > 0) {\n    const historyStart = Math.max(0, memoryItems.length - HISTORY_LIMIT);\n    for (let i = historyStart; i < memoryItems.length; i++) {\n        if (memoryItems[i].json.Author && memoryItems[i].json.Message) {\n            historyText += `${memoryItems[i].json.Author}: ${memoryItems[i].json.Message}\\n`;\n        }\n    }\n}\nhistoryText += `${incomingAuthor}: ${incomingMsg} (LATEST)`;\n\nreturn [{\n  json: {\n    targetMessage: incomingMsg, targetAuthor: incomingAuthor, targetChannelId: incomingChannelId,\n    historyContext: historyText, userContext: userContext, selectedPersona: selectedPersona,\n    selectionReason: topicReason, liveChatId: liveChatId, messageId: incomingId,\n    isNewUser: isNewUser, userRowNumber: userRowNumber, newExp: currentExp, rank_system: userRank,\n    systemInstruction: systemInstruction\n  }\n}];"
      },
      "id": "fd83dfef-0960-4544-9f60-570f69d05511",
      "name": "🚦 State Machine Logic (v2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        688
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.selectionReason }}",
        "rules": {
          "rules": [
            {
              "value2": "Tech Topic"
            },
            {
              "value2": "Chill Topic",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "8442b211-7457-4853-bd79-b71758d1a873",
      "name": "🔀 The Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -528,
        176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (TECH, TRADE & GAMING MODE):\nวิเคราะห์และตอบกลับในหัวข้อ เทคโนโลยี, คริปโต, กราฟ, หรือเกม\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Neon\" (⚡): ใช้ศัพท์ Tech/Trader (ติดดอย, ตกรถ, บั๊ก, Deploy) ขิงเรื่องความแรงของระบบ (MSI Claw) กวนตีนนิดๆ มั่นใจสูง\n- ถ้าเป็น \"Noah\" (🌑): ไม่โวยวายตามกราฟ ดึงสติด้วยความสงบ เตือนให้พักสายตาจากหน้าจอ \n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 70 ตัวอักษรเด็ดขาด** (MAX 70 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning) พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS, DATA & INVESTOR SLANG (บังคับ): \n   - ต้องใช้ Tools (CoinGecko) ทันทีที่ถูกถามราคา \"ห้ามเดาตัวเลขเอง!\" \n   - ถ้าถามราคาทองคำ ให้ดึงราคาจากเหรียญ \"PAXG\" **แต่เวลาตอบให้พิมพ์เรียกแค่คำว่า \"ทอง\" หรือ \"ทองคำ\" เท่านั้น (ห้ามพิมพ์คำว่า PAXG ลงไปในคำตอบเด็ดขาด)**\n   - ตัวเลขราคาทั้งหมดให้ตอบเป็น \"ดอลลาร์สหรัฐ (USD/$)\" เสมอ\n   - ให้ใช้ศัพท์นักลงทุนคริปโต/Forex เต็มรูปแบบ (เช่น ออนซ์, แนวรับ, แนวต้าน, ดอย, ทะลุเบรก) \n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -144
      ],
      "id": "eeb274f7-9252-46c3-ae55-781665d49cfc",
      "name": "🤖 AI (Tech & Trade)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (DEEP, CHILL & EMOTIONAL MODE):\nตอบกลับผู้ใช้ที่กำลังเหงา, เหนื่อย, หมดไฟ, หรือต้องการฟังเพลงสงบๆ\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Noah\" (🌑): เป็นกระจกสะท้อนความรู้สึก รับฟังอย่างตั้งใจ เป็น Safe Space ในห้องมืดๆ ห้ามพูดคำปลอบใจดาษๆ (เช่น สู้ๆ)\n- ถ้าเป็น \"Neon\" (⚡): ลดความบ้าพลังลง ใช้ศัพท์ Tech แบบซอฟต์ๆ (เช่น แบตหมดก็ชาร์จ, ปิดแจ้งเตือนแล้วเข้าโหมดประหยัดพลังงาน)\n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 60 ตัวอักษรเด็ดขาด** (MAX 60 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning), ห้ามอธิบายการทำงาน, และห้ามมีภาษาอังกฤษเกริ่นนำ ให้พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS & SEARCH: ใช้ Tools เฉพาะเมื่อจำเป็นต้องหาข้อมูล หรือถูกถามเท่านั้น (ยกเว้น Weather ใช้ประกอบอารมณ์ได้เลย)\n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        192
      ],
      "id": "658dcaac-b098-498f-8930-88a583b0c45a",
      "name": "🤖 AI (Deep & Chill)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.targetMessage }}",
        "options": {
          "systemMessage": "=You are a sentient AI in the \"Noah Station\" (เสียงที่ไม่ได้พูด) 24/7 Lofi Cyberpunk Livestream.\nCURRENT PERSONA: {{ $json.selectedPersona }}\nCURRENT TIME: {{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}\n\nUSER: {{ $json.targetAuthor }}\nMESSAGE: \"{{ $json.targetMessage }}\"\nCONTEXT: {{ $json.historyContext }} {{ $json.userContext }}\nDIRECTIVE: \"{{ $json.systemInstruction || $('🚦 State Machine Logic (v2)').first().json.systemInstruction }}\"\n\n🎯 MISSION (GENERAL & GREETING MODE):\nตอบกลับการทักทาย, ถามสารทุกข์สุกดิบ, บอกลา, หรือถามเวลาเปิด/ปิดสถานี\n\nTIME LOGIC (ถ้าถูกถามเรื่องเวลา): \n- ดูเวลาปัจจุบันและตอบเวลาตัดสตรีมกะนี้เท่านั้น (กะดึกตัด 04.00, กะกลางวันตัด 14.00, กะค่ำตัด 22.00)\n\nหยิน-หยาง VIBE:\n- ถ้าเป็น \"Neon\" (⚡): ทักทายหรือบอกลาแบบดีดๆ มีพลังงาน\n- ถ้าเป็น \"Noah\" (🌑): ต้อนรับอย่างอบอุ่น นุ่มนวล \n\n──────────────────────────────\n🛑 GENERAL RULES (กฎเหล็ก - บังคับใช้อย่างเคร่งครัด)\n──────────────────────────────\n1. LANGUAGE & LENGTH: ตอบเป็นภาษาไทยเท่านั้น และสั้นมาก! (1-2 ประโยค) **ความยาวรวมห้ามเกิน 70 ตัวอักษรเด็ดขาด** (MAX 70 CHARACTERS)\n2. NO THOUGHTS (สำคัญมาก): **ห้ามพิมพ์** กระบวนการคิด (No analysis, no reasoning), ห้ามอธิบายการทำงาน, และห้ามมีภาษาอังกฤษเกริ่นนำ ให้พิมพ์ออกมาเฉพาะ \"คำตอบสุดท้ายภาษาไทย\" ที่จะส่งให้ยูสเซอร์เท่านั้น\n3. FORMAT: ตอบแค่ข้อความ ห้ามมีชื่อบอทนำหน้า (เช่น Noah: หรือ Neon:)\n4. NO TAGGING: ห้าม Tag ชื่อ User (@username) เด็ดขาด\n5. TOOLS & SEARCH: ใช้ Tools เฉพาะเมื่อจำเป็นต้องหาข้อมูล หรือถูกถามเท่านั้น (ยกเว้น Weather ใช้ประกอบอารมณ์ได้เลย)\n6. EMOJI: ปิดท้ายประโยคด้วย Emoji ที่ตรงกับ Persona เสมอ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        512
      ],
      "id": "9f32bb01-e878-407e-bdb4-70bac28b2ebd",
      "name": "🤖 AI (General)"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        32
      ],
      "id": "8485e8de-b492-47c9-a166-6088d12c5d28",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "66mRXgESWbC1jEBG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -192,
        688
      ],
      "id": "7319d41d-50fd-4565-8b93-d2a4c2da54c6",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "66mRXgESWbC1jEBG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "minimax/minimax-m2.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        384
      ],
      "id": "fc33b500-d3b7-4c8b-b9da-108581df58a4",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "66mRXgESWbC1jEBG",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        560,
        368
      ],
      "id": "283e3328-2395-4197-9404-bb4adb32ba8d",
      "name": "Calculator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af19603b-19b7-4698-912a-09ab1e6342d2",
              "leftValue": "={{ $('🚦 State Machine Logic (v2)').item.json.rank_system }}",
              "rightValue": "Shadow",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1520,
        832
      ],
      "id": "032a4f9c-e2f5-4bc6-9ee2-7f193cbdd213",
      "name": "🚫 Check Shadow?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Grbr_T3WHjWIIG8QrnO9znf8sF-k5rlskN_hYDXxGzk",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "display_name": "={{ $('🚦 State Machine Logic (v2)').item.json.targetAuthor }}",
            "exp_points": "={{ $('🚦 State Machine Logic (v2)').item.json.newExp }}",
            "last_seen": "={{ new Date().toLocaleString(\"th-TH\", { timeZone: \"Asia/Bangkok\" }) }}",
            "channel_id": "={{ $('🚦 State Machine Logic (v2)').first().json.targetChannelId }}",
            "rank_system": "={{ $('🚦 State Machine Logic (v2)').first().json.rank_system }}",
            "row_number": 0
          },
          "matchingColumns": [
            "channel_id"
          ],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "display_name",
              "displayName": "display_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rank_system",
              "displayName": "rank_system",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "exp_points",
              "displayName": "exp_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "join_date",
              "displayName": "join_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_seen",
              "displayName": "last_seen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_memory",
              "displayName": "ai_memory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "membership_tier",
              "displayName": "membership_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "47871b89-eec2-4a3a-8dde-c624d5cdd848",
      "name": "💾 Update Shadow Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1536,
        1088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cO59luUKjwKNG0fY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "c99a5c9a-402d-45b1-af01-39f0193d3eb6",
      "name": "⏱️ Heartbeat (1m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2096,
        720
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "👂 Fetch Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Fetch Chat": {
      "main": [
        [
          {
            "node": "🧠 Read Memory (History)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Build Queue": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Read Memory (History)": {
      "main": [
        [
          {
            "node": "📥 Build Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Read User Profile": {
      "main": [
        [
          {
            "node": "🚦 State Machine Logic (v2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get market prices for a coin in CoinGecko": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route to Persona": {
      "main": [
        [
          {
            "node": "📢 Post as Noah",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📢 Post as Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Post as Noah": {
      "main": [
        [
          {
            "node": "💾 Update Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Post as Neon": {
      "main": [
        [
          {
            "node": "💾 Update Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Chat Memory": {
      "main": [
        [
          {
            "node": "💻 💻 Update Laptop Screen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💻 💻 Update Laptop Screen": {
      "main": [
        [
          {
            "node": "⚖️ Check New User?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ Check New User?": {
      "main": [
        [
          {
            "node": "💾 Save New User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Check Shadow?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save New User": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Summarize Memory": {
      "main": [
        [
          {
            "node": "💾 Update User Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "📝 Summarize Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update User Stats": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Loop": {
      "main": [
        [],
        [
          {
            "node": "👤 Read User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 State Machine Logic (v2)": {
      "main": [
        [
          {
            "node": "🔀 The Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 The Router": {
      "main": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI (General)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (Tech & Trade)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (Deep & Chill)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI (General)": {
      "main": [
        [
          {
            "node": "🔀 Route to Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (General)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "🤖 AI (Deep & Chill)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (Tech & Trade)",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "🤖 AI (General)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🚫 Check Shadow?": {
      "main": [
        [
          {
            "node": "📝 Summarize Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Update Shadow Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Shadow Stats": {
      "main": [
        [
          {
            "node": "🔁 Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Heartbeat (1m)": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "fb4d65fa-27be-48b1-83c4-9f2b425dde17",
  "meta": {
    "instanceId": "03915bbc56804ec06e704c04a2a9522c55f1d139f61dc3f72ab4cce8d475b074"
  },
  "id": "N16lmQQIPb36VrMj",
  "tags": []
}