n8n-workflows/🎧 Noah station v4.json
{
  "name": "🎧 Noah station v4",
  "nodes": [
    {
      "parameters": {
        "url": "http://localhost:8080/requests/status.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "e4531f99-0153-4161-bcb9-54ef7b7315d5",
      "name": "📡 SCAN_VLC_STATUS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -480
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "cityName": "Bangkok,TH",
        "language": "th"
      },
      "id": "02c34954-d7f5-4ea0-bfbe-a2bdcbe3164e",
      "name": "🌤️ SENSOR: WEATHER_DATA",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        432,
        -496
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "G6moNuovo6oGvsZS",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- ส่วนหัวแก้ Bug ตอน Test ---\nlet staticData;\ntry {\n    staticData = getWorkflowStaticData('global');\n} catch (error) {\n    staticData = { lastFolder: 'TEST_MODE', lastSong: '' }; \n}\n\n// ⭐ [โหมดทดสอบ]\nconst FORCE_TEST_JINGLE = false; \n\nif (FORCE_TEST_JINGLE) {\n    staticData.lastFolder = \"FAKE_OLD_MOOD\"; \n}\n// ---------------------------------\n\nconst now = new Date();\nconst hour = now.getHours();\n\n// ดึงข้อมูลสภาพอากาศ (กัน Error ถ้าไม่มีข้อมูล)\nconst weatherData = $node[\"🌤️ SENSOR: WEATHER_DATA\"] ? $node[\"🌤️ SENSOR: WEATHER_DATA\"].json : { weather: [{ main: \"Clear\" }] };\nconst weatherMain = weatherData.weather[0].main; \n\n// เช็คว่าฝนตกไหม?\nconst isRaining = (weatherMain === \"Rain\" || weatherMain === \"Drizzle\" || weatherMain === \"Thunderstorm\");\n\n// ====================================================\n// 🎵 คลังเพลงส่วนกลาง (All Day Lofi)\n// ====================================================\nconst allDayPlaylist = [\n    \"1. Harris Heller - Heart Piece.wav\", \"2. Harris Heller - Moons of Lylat.wav\", \"3. Harris Heller - The Illusive Man.wav\", \"4. Harris Heller - Not...ough Movement.wav\", \"5. Harris Heller - Minuet of the Forest.wav\", \"6. Harris Heller - Would You Kindly.wav\", \"7. Harris Heller - Lavender Tower.wav\", \"8. Harris Heller - Unfortunate Fate.wav\", \"9. Harris Heller - Desync.wav\", \"10. Harris Heller - Mute City.wav\", \"11. Harris Heller - Guilty Spark.wav\", \"12. Harris Heller - Skyward.wav\", \"13. Harris Heller - Ether.wav\", \"14. Harris Heller - Digital Threat.wav\", \"15. Harris Heller - Tall Grass.wav\", \"16. Harris Heller - Pillar of Autumn.wav\", \"17. Harris Heller - 90_s.wav\", \"18. Harris Heller - Gusty Glade.wav\", \"19. Harris Heller - Are You Still There.wav\", \"20. Harris Heller - Miramar Sunset.wav\", \"21. Harris Heller - Another Castle.wav\", \"22. Harris Heller - Saffron Skyline.wav\", \"23. Harris Heller - St...While and Listen.wav\", \"24. Harris Heller - Phendrana Drifts.wav\", \"25. Harris Heller - Big Blue.wav\", \"26. Harris Heller - Heroes Never Die.wav\", \"27. Harris Heller - Clyde.wav\", \"28. Harris Heller - Peacekeeper.wav\", \"29. Harris Heller - Manhattan Project.wav\", \"30. Harris Heller - Little Light.wav\",\n    \"1. Ambrosia Cascade.wav\", \"2. Red Velvet.wav\", \"3. Gum Drop.wav\", \"4. Tender Phobia.wav\", \"5. Lime Soda.wav\", \"6. Colestown.wav\", \"7. Rock, Water, Plant, Building.wav\", \"8. Color Field.wav\", \"9. Opal Lounge.wav\", \"10. Marshmellow Pie.wav\", \"11. Water Lilies.wav\", \"12. Smoothie Shack.wav\", \"13. Lucky Wednesday.wav\", \"14. On the Wharf .wav\", \"15. Soda Stream.wav\", \"16. Anytime.wav\", \"17. Lemon Switchel.wav\", \"18. Tangerine.wav\", \"19. Bokeh.wav\", \"20. Oat Latte.wav\", \"21. Mercury Kid.wav\", \"22. Furby.wav\", \"23. Lava Lamp.wav\", \"24. Night Roses.wav\", \"25. Waiting Room.wav\", \"26. Starry Garden.wav\", \"27. Night Shift.wav\", \"28. Jellyfish Bossa.wav\", \"29. Virtual Soul.wav\", \"30. Last Stop.wav\",\n    \"1. Harris Heller - Regal Estate.wav\", \"2. Harris Heller - Basking Turtles.wav\", \"3. Harris Heller - Afternoon Delight.wav\", \"4. Harris Heller - Vanilla Rain.wav\", \"5. Harris Heller - Poppy Seed Ivy.wav\", \"6. Harris Heller - Ashes.wav\", \"7. Harris Heller - Dream About You.wav\", \"8. Harris Heller - Antique Rose.wav\", \"9. Harris Heller - Pearly Whites.wav\", \"10. Harris Heller - W...Chocolate Swirls.wav\", \"11. Harris Heller - Ab...lutely Zero Cares.wav\", \"12. Harris Heller - Twilight.wav\", \"13. Harris Heller - Olive Grove.wav\", \"14. Harris Heller - Wildflower Acres.wav\", \"15. Harris Heller - Blue Mint Road.wav\", \"16. Harris Heller - Cinnamon Sugar Bun.wav\", \"17. Harris Heller - Clean Slate Again.wav\", \"18. Harris Heller - Cloudy Grey.wav\", \"19. Harris Heller - Riverdale Express.wav\", \"20. Harris Heller - Morning Run.wav\", \"21. Harris Heller - High Tide.wav\", \"22. Harris Heller - Hint of Lime.wav\", \"23. Harris Heller - Sea Star.wav\", \"24. Harris Heller - Rustic Oak.wav\", \"25. Harris Heller - Watering the Garden.wav\", \"26. Harris Heller - Elemental.wav\", \"27. Harris Heller - Classic Look.wav\", \"28. Harris Heller - Natural Lips.wav\", \"29. Harris Heller - Platinum Streaks.wav\", \"30. Harris Heller - Silver Feather.wav\",\n    \"A Moment Suspended.wav\", \"Afternoon Drift.wav\", \"Cafe Corner.wav\", \"Chillout in the Cosmos.wav\", \"Cobbled Streets.wav\", \"Dawns Early Light.wav\", \"Dewdrop Dawn.wav\", \"Dream Weaver.wav\", \"Dreams of Dusk.wav\", \"Eclipse Embrace.wav\", \"Evening Breeze.wav\", \"Gentle Gradients.wav\", \"Harmonic Diddles.wav\", \"Hidden Alley Harmonies.wav\", \"Late Night Latte.wav\", \"Neon in the Metropolis.wav\", \"Nightfall Narratives.wav\", \"Nocturnal Eyes.wav\", \"Pensive Patterns.wav\", \"Rainforest Stories.wav\", \"Silhouettes in the Fog.wav\", \"Solace in the Basement.wav\", \"Sonic Sounds.wav\", \"Spectral Spaces.wav\", \"Sunset on the Shore.wav\", \"The Quiet After the Storm.wav\", \"Thoughts of the Past.wav\", \"Twinkle Tunes.wav\", \"Under the City Lights.wav\", \"Velvet Vistas.wav\",\n    \"Amber Leaves.wav\", \"Blown Over.wav\", \"Cheating Heart.wav\", \"Coastal Chimney.wav\", \"Dark Moon.wav\", \"Double Tree.wav\", \"Earl Gray Morning.wav\", \"Eros Love.wav\", \"Evergreen Forest.wav\", \"Fading Sunrise.wav\", \"Green Ripple.wav\", \"Hazel Way.wav\", \"Home At Last.wav\", \"Indigo Ideas.wav\", \"Lake House Hammock.wav\", \"Lavender Blush.wav\", \"Luxe Lie.wav\", \"Magnolia Breath.wav\", \"October Mist.wav\", \"Pebbled Path.wav\", \"Polar Caps.wav\", \"Prince Charming.wav\", \"Shark Fin Spotting.wav\", \"Snow Drift.wav\", \"Stolen Terracotta.wav\", \"Strands of Silver.wav\", \"Timeless Look.wav\", \"Ultra Pure.wav\", \"Winter Solstice.wav\", \"Wisteria Way.wav\"\n];\n\n// ตัวแปรสำหรับเพลงที่จะเปิดตามเวลา\nlet mainFolder = \"\";  \nlet subFolder = \"\";   \nlet targetMood = \"\";\nlet playlist = [];\n\n// ====================================================\n// 🕒 TIMELINE LOGIC (ภาษาไทย + เพลงเอกลักษณ์ประจำช่วงเวลา)\n// ====================================================\n\n// 1. กลางคืน (00:00 - 04:00)\nif (hour >= 0 && hour < 4) {\n    mainFolder = \"กลางคืน00.00-04.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Midnight Rain (Melancholy)\";\n        playlist = [\n            \"01_Midnight_Window_Echoes.wav\", \"02_Midnight_Window_Loops.wav\",\n            \"03_Midnight_Windowpane.wav\", \"04_Rain_On_The_Fourth_Floor.wav\",\n            \"05_Rain_On_The_Window_Loop.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Lofi Midnight Vibes\";\n        playlist = [\n            \"01_Midnight_Dust_in_Reverse.wav\", \"02_Midnight_Hush_in_Reverse.wav\",\n            \"03_Night_Static_Bloom.wav\", \"04_Reversed_Window_Light.wav\",\n            \"05_Rewound_Midnight.wav\", \"06_Untitled.wav\", \n            \"07_Midnight_Queue_for_Tomorrow.wav\", \"08_Ghost_Glow_in_the_Rain.wav\",\n            \"09_Rain_Dial_in_Reverse.wav\", \"10_Rewind_in_the_Rain.wav\",\n            \"11_Rain_on_Rewind.wav\"\n        ];\n    }\n}\n// 2. ก่อนเช้า (04:00 - 07:00)\nelse if (hour >= 4 && hour < 7) {\n    mainFolder = \"ก่อนเช้า04.00-07.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Soft Rainlight\";\n        playlist = [\n            \"01_Misty_Dawn_Drizzle_v2.wav\", \"02_Misty_Dawn_Drizzle_v3.wav\",\n            \"03_Misty_Dawn_Drizzle.wav\", \"04_Misty_Rain_Textures_v2.wav\",\n            \"05_Misty_Rain_Textures.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Pre-Dawn Echo\";\n        playlist = [\n            \"01_Morning_Haze_Loop.wav\", \"02_Morning_Haze_Motif.wav\",\n            \"03_Morning_Haze_Over_Quiet_Streets.wav\", \"04_Morning_Haze_Rising.wav\",\n            \"05_Morning_Haze_Silent_Hope.wav\"\n        ];\n    }\n}\n// 3. เช้า (07:00 - 10:00)\nelse if (hour >= 7 && hour < 10) {\n    mainFolder = \"เช้า07.00-10.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Rainy Solitude\";\n        playlist = [\n            \"01_Rain_on_the_Window_v2.wav\", \"02_Rain_on_the_Window_Mug.wav\",\n            \"03_Rain_on_the_Window_v2_Alt.wav\", \"04_Rain_on_the_Windowframe.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Clarity Morning\";\n        playlist = [\n            \"01_Morning_Steam_Trails.wav\", \"02_Soft_Asphalt_Mornings.wav\",\n            \"03_Soft_Corners_of_Morning.wav\", \"04_Soft_Edges_at_Sunrise.wav\",\n            \"05_Soft_Edges_of_Sunrise_v2.wav\"\n        ];\n    }\n}\n// 4. กลางวัน (10:00 - 14:00)\nelse if (hour >= 10 && hour < 14) {\n    mainFolder = \"กลางวัน10.00-14.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Wet Daydream\";\n        playlist = [\n            \"01_Rain_on_the_Window_Circuit.wav\", \"02_Rain_on_the_Window_Light_v2.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Stillness Field\";\n        playlist = [\n            \"01_Drifting_Over_Daylight.wav\", \"02_Sun_Through_Quiet_Windows.wav\",\n            \"03_Sunlit_Coffee_Steam.wav\"\n        ];\n    }\n}\n// 5. เย็น (14:00 - 18:00)\nelse if (hour >= 14 && hour < 18) {\n    mainFolder = \"เย็น14.00-18.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Rain on Warm Glass\";\n        playlist = [\n            \"01_Rain_Glow_Textures_v2.wav\", \"02_Rain_Glow_Textures_v3.wav\",\n            \"03_Rain_Glow_Textures.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Golden Fade\";\n        playlist = [\n            \"01_Soft_Descent_at_Dusk_v2.wav\", \"02_Soft_Descent_at_Dusk_v3.wav\",\n            \"03_Soft_Descent_at_Dusk.wav\"\n        ];\n    }\n}\n// 6. หัวค่ำ (18:00 - 22:00)\nelse if (hour >= 18 && hour < 22) {\n    mainFolder = \"หัวค่ำ18.00-22.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Glow & Drizzle\";\n        playlist = [\n            \"01_Neon_Rainscape_Loop.wav\", \"02_Neon_Rainscape.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Evening Console\";\n        playlist = [\n            \"01_Rearview_Neon.wav\", \"02_Reflections_in_Reverse.wav\",\n            \"03_Reverse_Echoes_in_Violet.wav\"\n        ];\n    }\n}\n// 7. ก่อนเที่ยงคืน (22:00 - 00:00)\nelse {\n    mainFolder = \"ก่อนเที่ยงคืน22.00-00.00\";\n    if (isRaining) {\n        subFolder = \"ฝนตก\";\n        targetMood = \"Sleep Drift\";\n        playlist = [\n            \"01_Dreaming_Hush_v2.wav\", \"02_Dreaming_Hush.wav\"\n        ];\n    } else {\n        subFolder = \"ปกติ\";\n        targetMood = \"Last Thought\";\n        playlist = [\n            \"01_Last_Lamp_in_the_Apartment.wav\", \"02_Midnight_Apartment_Glow.wav\",\n            \"03_Solitude_in_Soft_Reverse.wav\"\n        ];\n    }\n}\n\n// ====================================================\n// 🎲 ระบบสุ่ม: 90% All Day Lofi / 10% เพลงเฉพาะเวลา\n// ====================================================\n\n// ทอยเต๋า (สุ่มเลข 0-1) ถ้าได้น้อยกว่า 0.9 คือสุ่มโดนคลัง All Day\nconst rollAllDay = Math.random() < 0.90; \n\nlet selectedPlaylist = [];\nlet selectedFolder = \"\";\nlet selectedMood = \"\";\n\nif (rollAllDay) {\n    selectedPlaylist = allDayPlaylist;\n    selectedFolder = \"All_Day_Lofi\"; \n    selectedMood = \"All Day Chill\"; // อารมณ์เพลงตอนสุ่มโดนคลังกลาง\n} else {\n    selectedPlaylist = playlist;\n    selectedFolder = `${mainFolder}/${subFolder}`; \n    selectedMood = targetMood;\n}\n\n// --- 3. 🎵 ระบบ Jingle & ระบบกันสุ่มซ้ำ (Anti-Repeat) ---\n\nlet finalPath = \"\";\nlet finalSong = \"\";\nlet finalMood = \"\";\nlet isJingle = false;\n\nfunction getRandomSong(list) {\n    if (list.length === 0) return \"\";\n    if (list.length === 1) return list[0]; \n\n    let availableSongs = list.filter(song => song !== staticData.lastSong);\n    if (availableSongs.length === 0) availableSongs = list; \n\n    return availableSongs[Math.floor(Math.random() * availableSongs.length)];\n}\n\n// ⚠️ เราจะเช็ค Jingle จากเวลาและสภาพอากาศ (currentFolderKey) ไม่ใช่โฟลเดอร์เพลงที่สุ่มได้\nlet currentFolderKey = `${mainFolder}/${subFolder}`; \nconst memoryFolder = staticData.lastFolder; \n\nif (memoryFolder === '00_Station_ID') {\n    // เพิ่งเล่น Jingle ไป -> กลับมาเปิดเพลงตามผลที่สุ่มได้ (90/10)\n    finalSong = getRandomSong(selectedPlaylist);\n    finalPath = `${selectedFolder}/${finalSong}`;\n    finalMood = selectedMood;\n    staticData.lastFolder = currentFolderKey; // บันทึกช่วงเวลา/อากาศปัจจุบัน\n    staticData.lastSong = finalSong;\n}\nelse if (currentFolderKey !== memoryFolder && memoryFolder !== undefined && memoryFolder !== 'TEST_MODE') {\n    // ช่วงเวลาหรือสภาพอากาศเปลี่ยน -> เล่น Jingle คั่น\n    finalPath = \"00_Station_ID/Channel_Theme.wav\"; \n    finalSong = \"Channel_Theme.wav\"; \n    finalMood = \"Station ID (Switching)\";\n    isJingle = true;\n    staticData.lastFolder = '00_Station_ID';\n}\nelse {\n    // ช่วงเวลา/อากาศเดิม -> เล่นเพลงตามผลที่สุ่มได้ (90/10)\n    finalSong = getRandomSong(selectedPlaylist);\n    finalPath = `${selectedFolder}/${finalSong}`;\n    finalMood = selectedMood;\n    staticData.lastFolder = currentFolderKey; // บันทึกช่วงเวลา/อากาศปัจจุบัน\n    staticData.lastSong = finalSong;\n}\n\n// ⚠️ เช็ค Path \nconst baseDir = \"/Users/bourneken/Noah_Station/Music/Bourneken_Music_Library_Master/\";\n\nreturn {\n    command_id: Math.floor(Date.now() / 1000),\n    current_mood: finalMood,\n    weather_status: weatherMain,\n    filename: finalSong,\n    full_path: `${baseDir}${finalPath}`,\n    web_path: `music/Bourneken_Music_Library_Master/${finalPath}`, \n    is_jingle: isJingle,\n    timestamp: Date.now()\n};"
      },
      "id": "9c353203-2843-4b4e-9be5-3e959a96b1ca",
      "name": "🧠 AI_BRAIN: SELECT_SONG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        624,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1-Click Script: Convert Text to n8n Binary Data\nfor (const item of $input.all()) {\n  const rawPath = item.json.full_path || \"\";\n  const songName = rawPath.split('/').pop().replace('.mp3', '').replace('.wav', '');\n  const jsContent = 'var currentSong = ' + JSON.stringify(songName) + ';';\n\n  item.binary = {\n    data: {\n      data: Buffer.from(jsContent).toString('base64'),\n      mimeType: 'application/javascript',\n      fileName: 'song_data.js'\n    }\n  };\n}\nreturn $input.all();"
      },
      "id": "ea073e19-5834-4ae1-a9e2-c7815e454ab2",
      "name": "📝 PREP: SONG_DATA_JS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/Users/bourneken/Noah Music Card/song_data.js",
        "options": {}
      },
      "id": "1caf7367-ebd8-465a-bdae-379bcf4a02e8",
      "name": "💾 WRITE: SONG_METADATA",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        -496
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/requests/status.xml?command=pl_empty",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "ce4194c5-aac4-4ad8-8aef-8ffa716b3bc4",
      "name": "🛑 CMD: PURGE_VLC_QUEUE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -496
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://localhost:8080/requests/status.xml?command=in_play&input={{ encodeURIComponent($('🧠 AI_BRAIN: SELECT_SONG').item.json.full_path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "a25e1c55-d6d9-4fa8-b30b-24d946beeadd",
      "name": "▶️ CMD: EXECUTE_PLAYBACK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1424,
        -496
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "eb995fb7-add9-4701-95bb-6a5e696739ad",
      "name": "⏱️ HEARTBEAT: MUSIC_SYNC1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-time-and-status",
              "leftValue": "={{ $now.setZone('Asia/Bangkok').hour >= 0 && $now.setZone('Asia/Bangkok').hour < 8 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3006ebce-8a29-4f4a-8b78-6c7e331e8371",
      "name": "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -464
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c91ae4e7-37c4-4e8b-86ed-50277281c22a",
              "leftValue": "={{ JSON.parse($json.data).state }}",
              "rightValue": "stopped",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -480
      ],
      "id": "e054b1c7-660e-4eed-9acb-67cc0c45c6f4",
      "name": "⚖️ CHECK: IS_VLC_ACTIVE?"
    }
  ],
  "pinData": {},
  "connections": {
    "📡 SCAN_VLC_STATUS": {
      "main": [
        [
          {
            "node": "⚖️ CHECK: IS_VLC_ACTIVE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌤️ SENSOR: WEATHER_DATA": {
      "main": [
        [
          {
            "node": "🧠 AI_BRAIN: SELECT_SONG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI_BRAIN: SELECT_SONG": {
      "main": [
        [
          {
            "node": "📝 PREP: SONG_DATA_JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 PREP: SONG_DATA_JS": {
      "main": [
        [
          {
            "node": "💾 WRITE: SONG_METADATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 WRITE: SONG_METADATA": {
      "main": [
        [
          {
            "node": "🛑 CMD: PURGE_VLC_QUEUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 CMD: PURGE_VLC_QUEUE": {
      "main": [
        [
          {
            "node": "▶️ CMD: EXECUTE_PLAYBACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ HEARTBEAT: MUSIC_SYNC1": {
      "main": [
        [
          {
            "node": "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY": {
      "main": [
        [
          {
            "node": "📡 SCAN_VLC_STATUS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⚖️ CHECK: IS_VLC_ACTIVE?": {
      "main": [
        [
          {
            "node": "🌤️ SENSOR: WEATHER_DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1bddeab3-9a69-47e1-97d0-a3f09c6a029b",
  "meta": {
    "instanceId": "cb8401fa5e168ec815f7040365e4ee6663f62cc5279011863901b4f0a60982c3"
  },
  "id": "0C8RLHbk9fcJqWd3",
  "tags": []
}