n8n-workflows/🎧 Noah station v4.json
{
  "name": "🎧 Noah station v4 (Template)",
  "nodes": [
    {
      "parameters": {
        "url": "http://localhost:8080/requests/status.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "e4531f99-0153-4161-bcb9-54ef7b7315d5",
      "name": "📡 SCAN_VLC_STATUS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -480
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "cityName": "Bangkok,TH",
        "language": "th"
      },
      "id": "02c34954-d7f5-4ea0-bfbe-a2bdcbe3164e",
      "name": "🌤️ SENSOR: WEATHER_DATA",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        432,
        -496
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "G6moNuovo6oGvsZS",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- ส่วนหัวแก้ Bug ตอน Test ---\nlet staticData;\ntry {\n    staticData = getWorkflowStaticData('global');\n} catch (error) {\n    staticData = { lastFolder: 'TEST_MODE', lastSong: '' }; \n}\n\n// ⭐ [โหมดทดสอบ]\nconst FORCE_TEST_JINGLE = false; \n\nif (FORCE_TEST_JINGLE) {\n    staticData.lastFolder = \"FAKE_OLD_MOOD\"; \n}\n// ---------------------------------\n\nconst now = new Date();\nconst hour = now.getHours();\n\n// ดึงข้อมูลสภาพอากาศ (กัน Error ถ้าไม่มีข้อมูล)\nconst weatherData = $node[\"🌤️ SENSOR: WEATHER_DATA\"] ? $node[\"🌤️ SENSOR: WEATHER_DATA\"].json : { weather: [{ main: \"Clear\" }] };\nconst weatherMain = weatherData.weather[0].main; \n\n// เช็คว่าฝนตกไหม?\nconst isRaining = (weatherMain === \"Rain\" || weatherMain === \"Drizzle\" || weatherMain === \"Thunderstorm\");\n\n// ====================================================\n// 🎵 คลังเพลงส่วนกลาง (All Day Lofi)\n// ⚠️ ใส่ชื่อไฟล์เพลงของคุณที่นี่ (อย่าลืมใส่นามสกุลไฟล์ เช่น .mp3 หรือ .wav)\n// ====================================================\nconst allDayPlaylist = [\n    \"your_allday_song_1.mp3\", \n    \"your_allday_song_2.mp3\",\n    \"your_allday_song_3.mp3\"\n];\n\n// ตัวแปรสำหรับเพลงที่จะเปิดตามเวลา\nlet mainFolder = \"\";  \nlet subFolder = \"\";   \nlet targetMood = \"\";\nlet playlist = [];\n\n// ====================================================\n// 🕒 TIMELINE LOGIC (ตั้งค่าโฟลเดอร์เพลงประจำช่วงเวลา)\n// ⚠️ แก้ไขชื่อเพลงใน playlist ให้ตรงกับไฟล์ที่คุณมี\n// ====================================================\n\n// 1. กลางคืน (00:00 - 04:00)\nif (hour >= 0 && hour < 4) {\n    mainFolder = \"01_Night_00-04\"; // ⚠️ เปลี่ยนชื่อโฟลเดอร์ย่อยถ้าจำเป็น\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Midnight Rain (Melancholy)\";\n        playlist = [\"night_rain_1.mp3\", \"night_rain_2.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Lofi Midnight Vibes\";\n        playlist = [\"night_normal_1.mp3\", \"night_normal_2.mp3\"];\n    }\n}\n// 2. ก่อนเช้า (04:00 - 07:00)\nelse if (hour >= 4 && hour < 7) {\n    mainFolder = \"02_PreDawn_04-07\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Soft Rainlight\";\n        playlist = [\"dawn_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Pre-Dawn Echo\";\n        playlist = [\"dawn_normal_1.mp3\"];\n    }\n}\n// 3. เช้า (07:00 - 10:00)\nelse if (hour >= 7 && hour < 10) {\n    mainFolder = \"03_Morning_07-10\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Rainy Solitude\";\n        playlist = [\"morning_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Clarity Morning\";\n        playlist = [\"morning_normal_1.mp3\"];\n    }\n}\n// 4. กลางวัน (10:00 - 14:00)\nelse if (hour >= 10 && hour < 14) {\n    mainFolder = \"04_Day_10-14\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Wet Daydream\";\n        playlist = [\"day_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Stillness Field\";\n        playlist = [\"day_normal_1.mp3\"];\n    }\n}\n// 5. เย็น (14:00 - 18:00)\nelse if (hour >= 14 && hour < 18) {\n    mainFolder = \"05_Evening_14-18\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Rain on Warm Glass\";\n        playlist = [\"evening_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Golden Fade\";\n        playlist = [\"evening_normal_1.mp3\"];\n    }\n}\n// 6. หัวค่ำ (18:00 - 22:00)\nelse if (hour >= 18 && hour < 22) {\n    mainFolder = \"06_Dusk_18-22\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Glow & Drizzle\";\n        playlist = [\"dusk_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Evening Console\";\n        playlist = [\"dusk_normal_1.mp3\"];\n    }\n}\n// 7. ก่อนเที่ยงคืน (22:00 - 00:00)\nelse {\n    mainFolder = \"07_LateNight_22-00\";\n    if (isRaining) {\n        subFolder = \"Rain\";\n        targetMood = \"Sleep Drift\";\n        playlist = [\"latenight_rain_1.mp3\"];\n    } else {\n        subFolder = \"Normal\";\n        targetMood = \"Last Thought\";\n        playlist = [\"latenight_normal_1.mp3\"];\n    }\n}\n\n// ====================================================\n// 🎲 ระบบสุ่ม: 90% All Day Lofi / 10% เพลงเฉพาะเวลา\n// ====================================================\n\nconst rollAllDay = Math.random() < 0.90; \n\nlet selectedPlaylist = [];\nlet selectedFolder = \"\";\nlet selectedMood = \"\";\n\nif (rollAllDay) {\n    selectedPlaylist = allDayPlaylist;\n    selectedFolder = \"All_Day_Lofi\"; // ⚠️ ชื่อโฟลเดอร์คลังกลาง\n    selectedMood = \"All Day Chill\"; \n} else {\n    selectedPlaylist = playlist;\n    selectedFolder = `${mainFolder}/${subFolder}`; \n    selectedMood = targetMood;\n}\n\n// --- 3. 🎵 ระบบ Jingle & ระบบกันสุ่มซ้ำ (Anti-Repeat) ---\n\nlet finalPath = \"\";\nlet finalSong = \"\";\nlet finalMood = \"\";\nlet isJingle = false;\n\nfunction getRandomSong(list) {\n    if (list.length === 0) return \"\";\n    if (list.length === 1) return list[0]; \n\n    let availableSongs = list.filter(song => song !== staticData.lastSong);\n    if (availableSongs.length === 0) availableSongs = list; \n\n    return availableSongs[Math.floor(Math.random() * availableSongs.length)];\n}\n\nlet currentFolderKey = `${mainFolder}/${subFolder}`; \nconst memoryFolder = staticData.lastFolder; \n\nif (memoryFolder === '00_Station_ID') {\n    finalSong = getRandomSong(selectedPlaylist);\n    finalPath = `${selectedFolder}/${finalSong}`;\n    finalMood = selectedMood;\n    staticData.lastFolder = currentFolderKey; \n    staticData.lastSong = finalSong;\n}\nelse if (currentFolderKey !== memoryFolder && memoryFolder !== undefined && memoryFolder !== 'TEST_MODE') {\n    // ⚠️ ใส่ชื่อไฟล์ Jingle คั่นรายการของคุณ\n    finalPath = \"00_Station_ID/Channel_Theme.mp3\"; \n    finalSong = \"Channel_Theme.mp3\"; \n    finalMood = \"Station ID (Switching)\";\n    isJingle = true;\n    staticData.lastFolder = '00_Station_ID';\n}\nelse {\n    finalSong = getRandomSong(selectedPlaylist);\n    finalPath = `${selectedFolder}/${finalSong}`;\n    finalMood = selectedMood;\n    staticData.lastFolder = currentFolderKey; \n    staticData.lastSong = finalSong;\n}\n\n// ====================================================\n// ⚠️ เช็ค Path โฟลเดอร์เพลงหลักของคุณที่นี่ \n// (สำหรับ Windows ให้ใช้ \\\\ สองตัว เช่น \"C:\\\\Users\\\\Name\\\\Music\\\\Library\\\\\")\n// ====================================================\nconst baseDir = \"C:\\\\YOUR_MUSIC_FOLDER_PATH\\\\\";\n\nreturn {\n    command_id: Math.floor(Date.now() / 1000),\n    current_mood: finalMood,\n    weather_status: weatherMain,\n    filename: finalSong,\n    full_path: `${baseDir}${finalPath}`,\n    web_path: `music/YOUR_MUSIC_FOLDER/${finalPath}`, \n    is_jingle: isJingle,\n    timestamp: Date.now()\n};"
      },
      "id": "9c353203-2843-4b4e-9be5-3e959a96b1ca",
      "name": "🧠 AI_BRAIN: SELECT_SONG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        624,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1-Click Script: Convert Text to n8n Binary Data\nfor (const item of $input.all()) {\n  const rawPath = item.json.full_path || \"\";\n  const songName = rawPath.split('/').pop().replace('.mp3', '').replace('.wav', '');\n  const jsContent = 'var currentSong = ' + JSON.stringify(songName) + ';';\n\n  item.binary = {\n    data: {\n      data: Buffer.from(jsContent).toString('base64'),\n      mimeType: 'application/javascript',\n      fileName: 'song_data.js'\n    }\n  };\n}\nreturn $input.all();"
      },
      "id": "ea073e19-5834-4ae1-a9e2-c7815e454ab2",
      "name": "📝 PREP: SONG_DATA_JS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\YOUR_MUSIC_FOLDER_PATH\\song_data.js",
        "options": {}
      },
      "id": "1caf7367-ebd8-465a-bdae-379bcf4a02e8",
      "name": "💾 WRITE: SONG_METADATA",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        -496
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/requests/status.xml?command=pl_empty",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "ce4194c5-aac4-4ad8-8aef-8ffa716b3bc4",
      "name": "🛑 CMD: PURGE_VLC_QUEUE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        -496
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://localhost:8080/requests/status.xml?command=in_play&input={{ encodeURIComponent($('🧠 AI_BRAIN: SELECT_SONG').item.json.full_path) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "a25e1c55-d6d9-4fa8-b30b-24d946beeadd",
      "name": "▶️ CMD: EXECUTE_PLAYBACK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1424,
        -496
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "NdfsQ9maxDw8xVTS",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "eb995fb7-add9-4701-95bb-6a5e696739ad",
      "name": "⏱️ HEARTBEAT: MUSIC_SYNC1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "check-time-and-status",
              "leftValue": "={{ $now.setZone('Asia/Bangkok').hour >= 0 && $now.setZone('Asia/Bangkok').hour < 8 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3006ebce-8a29-4f4a-8b78-6c7e331e8371",
      "name": "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -464
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c91ae4e7-37c4-4e8b-86ed-50277281c22a",
              "leftValue": "={{ JSON.parse($json.data).state }}",
              "rightValue": "stopped",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -480
      ],
      "id": "e054b1c7-660e-4eed-9acb-67cc0c45c6f4",
      "name": "⚖️ CHECK: IS_VLC_ACTIVE?"
    }
  ],
  "pinData": {},
  "connections": {
    "📡 SCAN_VLC_STATUS": {
      "main": [
        [
          {
            "node": "⚖️ CHECK: IS_VLC_ACTIVE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌤️ SENSOR: WEATHER_DATA": {
      "main": [
        [
          {
            "node": "🧠 AI_BRAIN: SELECT_SONG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 AI_BRAIN: SELECT_SONG": {
      "main": [
        [
          {
            "node": "📝 PREP: SONG_DATA_JS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 PREP: SONG_DATA_JS": {
      "main": [
        [
          {
            "node": "💾 WRITE: SONG_METADATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 WRITE: SONG_METADATA": {
      "main": [
        [
          {
            "node": "🛑 CMD: PURGE_VLC_QUEUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 CMD: PURGE_VLC_QUEUE": {
      "main": [
        [
          {
            "node": "▶️ CMD: EXECUTE_PLAYBACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ HEARTBEAT: MUSIC_SYNC1": {
      "main": [
        [
          {
            "node": "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚖️ GATEKEEPER: LIVE_WINDOW_ONLY": {
      "main": [
        [
          {
            "node": "📡 SCAN_VLC_STATUS",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "⚖️ CHECK: IS_VLC_ACTIVE?": {
      "main": [
        [
          {
            "node": "🌤️ SENSOR: WEATHER_DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1bddeab3-9a69-47e1-97d0-a3f09c6a029b",
  "meta": {
    "instanceId": "cb8401fa5e168ec815f7040365e4ee6663f62cc5279011863901b4f0a60982c3"
  },
  "id": "0C8RLHbk9fcJqWd3",
  "tags": []
}